body {
  background: #FFD60A;
  color: #001D3D;
  font-size: 16px;
}

.app-wrap {
  position: relative;
  max-width: 800px;
  margin: 0px auto;
}

header {
  text-align: center;
  padding: 25px;
  font-weight: 800;
  font-size: 2em;
}

.container {
  text-align: center;
}

#map { 
  height:50vh; 
  padding: 15px;
}

.leaflet-container { height: 50vh; border-radius: 15px;}

.button-continue {
  background: #003566;
  color: #FFC300;
  padding: 15px;
  position: relative;
  display: inline-block;
  margin: 0px auto;
}